<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Identity Management Suite</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css"/>
<style>
    body    { padding:10px; }
</style>
