@import url("animations.css");
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');
/*@import url('http://fonts.googleapis.com/css?family=Droid+Serif');*/

body { 
  padding: 10px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px "Josefin Sans", Helvetica, Arial, sans-serif;
} 

.fullwidth {
	width:100%;
}

a { 
  color: #00B7FF; 
}

 #footer {
    width: 100%;
    bottom:0;
    left:0;
    /*position: absolute;*/
} 

.shadow {
  box-shadow: 10px 10px 5px #888888;
}


.bordered {
  border : 1px solid #ccccb3;
  border-radius: 5px;
}

.padded {
	padding :10px;
}

html, body, #container { height: 100%}
body > #container { height: auto; min-height: 100%; }
