@import url("animations.css");

body { 
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} 

.fullwidth {
	width:100%;
}

a { 
  color: #00B7FF; 
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
html, body, #container { height: 100%}
body > #container { height: auto; min-height: 100%; }
