<div>
  <div class="row">
    <div class="col-md-3">
      <span ng-show="isUser()">
        <div ng-include="'js/views/partials/includes/userHome.html'"></div>
      </span>
      <span ng-show="isAdmin()">
        <div ng-include="'js/views/partials/includes/adminHome.html'"></div>
      </span>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading" id="panelHeadings">
          <strong>{{pageDef}}</strong>
        </div>
        <br/>
        <div ng-include="'js/views/partials/includes/messages.html'"></div>
        <div class="panel-body shadow">
            <div ui-view class="slider"></div>
        </div>
      </div>
    </div>
  </div>
</div>
